<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Login</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />

    <link href="/assets/css/font-awesome.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">

    <link href="/assets/css/style.css" rel="stylesheet" type="text/css">

    <link href="/assets/css/pages/signin.css" rel="stylesheet" type="text/css">
    <style>
        .login {
            width: 100%;
        }

        button img {
            width: 8%;
        }
    </style>

</head>

<body>
    <div class="account-container" style="margin-top:20%">
        <div class="content clearfix">
            {{#if message.error}}
            <div class="alert alert-danger mt-5" role="alert">{{message.content}}</div>
            {{/if}}
            <form action="/login" method="post" id="FormLogin">
                <h1>Member Login</h1>

                <div class="login-fields">

                    <div id="FormUsername" class="field">
                        <label for="username">Username</label>
                        <input type="text" id="username" name="username" value="" placeholder="Username"
                            class="login username-field" autocomplete="off" autofocus />
                    </div> <!-- /field -->

                    <div id="FormPassword" class="field">
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" value="" placeholder="Password"
                            class="login password-field" />
                    </div> <!-- /password -->

                </div> <!-- /login-fields -->

                <div class="login-actions">

                    <button type="submit" id="login" value="login" class="button btn btn-success btn-large login">Sign
                        In</button>

                </div> <!-- .actions -->

            </form>

        </div> <!-- /content -->

        <div id="pesan">

        </div>

    </div> <!-- /account-container -->


    <!--MY JAVASCRIPT-->

    <script src="/assets/js/jquery-1.7.2.min.js"></script>
    <script src="/assets/js/bootstrap.js"></script>

    <script src="/assets/js/signin.js"></script>
</body>

</html>